node_modules
jspm_packages
target
.DS_Store
builtAssets
.s3creds
.monitor
*.esproj
.idea
*.iml
*.ipr
*.iws
*.log
npm-debug.log
.foreman
.env*
output.txt
cache
nodemon.json
.sonar
coverage
reports
tags
.tags*
build
dist/
/components/
!/modules/components/
